<footer class="bg-gray-light-7 pt-3 pb-3 mt-5" style=" bottom: 0; min-width: 100%;">
      <div class="container">
        By Benjy Ross
        <a href="https://benjyross.xyz">My website</a>
        <br>
        <a href="/license">license</a>
      </footer>
